.carousel-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;

  > div {
    overflow-x: hidden;
  }

  img {
    min-width: 10rem;
    padding: 0 4px;
  }

  .btn-prev,
  .btn-next {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: white;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .btn-prev {
    left: -3.5rem;
  }
  
  .btn-next {
    right: -3.5rem;
  }
}
